<div class='row'>
  <div class='col-auto'>
    <h2 class="text-light m-3">Welcome, {{username}}!</h2>
  </div>
</div>

{{#each reviewList as |review|}}
  {{!-- {{#each user.reviews as |review|}} --}}
    <section class='card mt-2'>
      <div class='card-body p-3'>
        <h4 class='card-title'>{{review.movieTitle}} <h5>{{review.rating}}</h5></h4>

        <h6 class='card-text'>{{review.comment}}<h6>
        <p>Posted By: {{review.username}}</p>
      </div>
    </section>
  {{!-- {{/each}} --}}
{{/each}}



{{#if reviews.length}}
  <div class='col-md-6 review-list'>
    <h3>Older Reviews:</h3>

    {{#each reviews as |review|}}
      <div class='row mb-2'>
        <div class='col-md-8'>
          <h4><a
              href='/review/{{review.id}}'
            >{{review.title}}{{review.comment}}</a></h4>
        </div>
        <div class='col-md-4'>
          <button
            class='btn btn-sm btn-danger'
            data-id='{{review.id}}'
          >DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<script src='/js/dashboard.js'></script>